/* import des dépendances */

@import "./Base/_variables", "./Base/__main", "./Base/_typography";

@import "./Utils/_mixins";

@import "./Composants/_buttons", "./Composants/_maps", "./Composants/_animation","./Composants/_loader","./Composants/_coeur";

@import "./Pages/_index";

@import "./Pages/_restaurants";







/* police pour tout le site */
.textLogoTitres {
  font-family: $fontFamilly;
}



header {
  display: flex;
  align-items: center;
  flex-direction: column;

  // flex-direction: row;

  img {
    width: $maxwidth;
    display: flex;
    justify-content: center;
  }
}
.pour_Header{
  display: flex;
  flex-direction: row;
    justify-content: center;
  @media (max-width: 768px){
  flex-direction: row;
    align-items: center;
  margin: 20px ;
}
 }

@media (min-width: 650px) {
  .heroItem {
    height: 640px;
    background: none;
    color: white;
    position: relative;
    background: rgba(68, 52, 86, 0.722);
  }
}

a{
  text-decoration: none;
  color: black;
  margin-right: 50px;
}

.alignementIcon {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 10px;
}
.prheader__back{
font-size: x-large;
}
.numéro {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  padding-right: 4px;
  background-color: $lightBackgroundColor;
}

.iSolid {
  z-index: 1;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  width: 22px;
  height: 22px;
  color: #ffffff;
  background-color: #9356dc;
}

.Blocrestaurant {

  
  height: 240px;
  width: 40%;
  background-color: white;
  margin-top: 66.445px;
  margin-left: 15px;
  border-radius: 15px;
  
    @media (max-width: 768px){
  width: auto;}
  
  .nouveauté {
    right: 0px;
    left: 0px;
    width: 50px;
    margin-top: 6px;
    margin-left: 38%;
    position: absolute;
    background-color: $tertiaire;
    padding: 7px 8px;
    border-radius: 3px 3px 3px 3px;
    color: #009b79;
    font-family: $fontTexte;
    font-weight: 500;
    font-size: small;
   
    @media (max-width: 768px){
   
    margin-left: 17%;
    margin-top: 9px;
    right: 55px;
  }
  }
 
  .nouveauté_Deux {
    right: 0px;
    left: 0px;
    width: 50px;
  margin-top: 6px;
  margin-left: 80%;
    position: absolute;
    background-color: $tertiaire;
    padding: 7px 8px;
    border-radius: 3px 3px 3px 3px;
    color: #009b79;
    font-family: $fontTexte;
    font-weight: 500;
    font-size: small;
  
  
  }
}
@media (max-width: 768px){
  .list_fonctionnement {
    
    display: flex;
    flex-direction: column;}
.btnHeart {
  margin-right: 5px;
}
}
.liste_restaurants {
  display: flex;
  background-color: $lightBackgroundColor;
  flex-direction: column;
  padding-bottom: 60px;
  justify-content: center;

  
 
  h2 {
    margin: 30px 0 0 20px
  }

  h3 {
    margin-bottom: 0px;
    width: 200px;
    font-family: $fontTexte;
  }

  img {

    height: 160px;
    width: 100%;
    border-radius: 15px 15px 0 0;
   
    object-fit: cover; 
  }
}

.global {
  display: flex;
  align-items: center;
}
  // .Blocrestaurant i
  // {
  //   left: 77%
  // }


.englobage {
  display: flex;
  flex-direction: column;
  margin-right: 50%;
  margin-left: 20px;

}

#globalFooter {

  display: flex;
  justify-content: space-between;
  background-color: #444040;

  i {

    margin-right: 10px;
    color: white;
    font-size: smaller;
  }
}

.image_Recadre {
  height: 341px;
  object-fit: cover;

}
.image_Recadre_Deux
{ object-fit: cover;}

.ville {
  margin-bottom: 20px;
}

.navigationFooter {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1%;

  h3 {
    color: #ffffff;
    margin-left: 23px;
    margin-bottom: 30px;
    font-family: $fontFamilly;
    font-weight: 200;
  }

  ul {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    @media (max-width: 768px){
    flex-direction: column;
    margin-top: 0%;
    
    padding-left: 6%;}
  }

  li {
    margin-bottom: 2%;
  }

  li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

  li a:hover {
    color: rgb(2, 159, 250);
    font-weight: bold;
  }
}





.englobage {
  margin-right: 25px;
}

footer {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  font-weight: 300;
}

// #position_search {
//   display: flex;
//   justify-content: center;
//   margin-top: 12px;
//   padding-top: 15px;
//   padding-bottom: 15px;
//   background-color: $backgroundColor;

//   #searchbox {
//     background-color: $backgroundColor;
//     align: center;
//   }

//   #champLocalisation {
//     border: none;
//     font-weight: bold;
//     outline: none;
//     color: black;
//     background-color: $backgroundColor;
//   }
// }

header {
  margin: 20px 0 20px 0;
  display: flex;
  // align-items: flex-end; 

}

body{
  margin: 0px;
}


.aline {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #f6f6f6;
  height: 290px;

  h1 {
    margin: 0;

    @media (max-width: 768px) {
      width: 250px;

      font-size: 25px;
      font-weight: revert;
    }
  }

  p {
    font-weight: 300;
    font-size: 1.6em;

    @media (max-width: 768px) {
      width: 280px;
      font-size: 1em;
    }
  }
}

.phraseAccroche {

  font-weight: 600;
  font-size: 18px;
  text-align: center;
  width: 99%;
  font-family: "Roboto";

  // margin : 0px;
  width: 99%;
  font-family: "Roboto";
}

.titreAccroche {
  
  font-size: 1.5em;
  font-family: "Roboto";
  font-weight: 700;
  @media (max-width: 768px) {
    width: 220px;
  }
}

.navigationListe {
  border: none;
  border-radius: 10px;

}



/* Ramener tout ce qui lié au mobile */
@media screen and (max-width: 768px) {
  body {
    display: block;

  }


  main {
    
    margin: auto;
  }

  .gridList {
    flex-direction: column;
  }

  .orderText {
    font-family: $fontTexte;
    font-weight: 700;
    font-size: medium;
    
  }

  

  header {
    img {
      width: 60%;
      display: flex;
      justify-content: center;
      
    }
  }

  .Blocrestaurant {
    width: 300px;
    margin-top: 20px;

    .nouveauté {
      margin-left: 70%;
    }
    .nouveauté_Deux{
      margin-left: 70%;
    }
  }

 

  .alignement {
    h3 {
      font-size: small;
    }
  }
}

.menu
{
  display: flex;
    justify-content: center;
    @media (max-width: 768px){
    justify-content: unset;
    padding-left: 25px;}
  p{
    border-bottom: solid $tertiaire;
    width: 35px;
  }

  
}

