button {
  background: linear-gradient(180deg, $secondary , #9356DC);
  padding: 15px 20px;
  margin-top: 50px;
  border-bottom: 19px;
  border-left: 16px;
  border-right: 18px;
  border-radius: $borderRaduis;

  text-decoration: none;
  margin: 20px 0 20px 0;
  font-weight: 700;
  color: rgb(255, 255, 255);
  border-top-width:0px;
  cursor: pointer;
  box-shadow: 3px 3px 8px #6561645c;
  transition: 500ms;
  font-size: initial;
    font-weight: bolder;

  &:hover {
    background: linear-gradient(180deg, rgb(255, 153, 226) 0%, rgb(220, 123, 255) 100%);
    box-shadow: 1px 11px 14px 0px rgba(109, 109, 109, 0.699);
  }
}



.restaurantItem {
  width: 100%;
  min-width: 36.8px;
  border-radius: 32px;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  cursor: pointer;
  position: relative;
  transition: filter 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.transition_Icon {
  cursor: pointer;
  grid-area: 1/2;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  transition: margin-right 2s .5s;
}

.goToRestaurant{
cursor: pointer;
}



  
  .fa-heart .fas{ 
    cursor: pointer;
  &::before :valid {
    background-color: $primary;
    color:$primary;
}
}
// test COEUR
.fa-heart{
  // display: inline-block;
  // position: absolute;
  // left: 77%;
  // font-size: xx-large;
  // bottom: 30px;

    &:hover::after{
  cursor: pointer;
  font-family: FontAwesome;
  content: "\f004";
  position:absolute;
  left: 0px;
  top: 0px; 
  font-size: xx-large;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-animation: fill 1s ease forwards;
          animation: fill 1s ease forwards;     
  }
}



.commander {
  background: linear-gradient(180deg, $secondary , #9356DC);
  padding: 15px 20px;
  margin-top: 50px;
  border-bottom: 19px;
  border-left: 16px;
  border-right: 18px;
  border-radius: $borderRaduis;

  margin: 20px 600px 20px 600px;
  text-decoration: none;
  
  font-weight: 700;
  color: rgb(255, 255, 255);
  border-top-width:0px;
  @media (max-width: 991px) {
  margin: 20px 200px 20px 200px;
}
  @media (max-width: 768px) {
  margin: 20px 70px 20px 70px;
}
  cursor: pointer;
  box-shadow: 3px 3px 8px #6561645c;
  transition: 500ms;
  font-size: initial;
    font-weight: bolder;

  &:hover {
    background: linear-gradient(180deg, rgb(255, 153, 226) 0%, rgb(220, 123, 255) 100%);
    box-shadow: 1px 11px 14px 0px rgba(109, 109, 109, 0.699);
  }
}

.dishes__card__check {
  @media (max-width: 768px){
  height: 50px;
}
  width: 60px;
  padding-top: 0px;
  display: flex;
    justify-content: center;
    align-items: center;
 
  background-color: #99E2D0;

  border-radius: 0 10px 10px 0;

  .check_icons
  {color: white;
  &::before{
    transition: all 0.7s ease-in-out;
  }

}
 }




// test


.btn_choix { 
  width: 270px; 
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  box-shadow: 0px 4px 4px 0px #ddd8d8;
  list-style: none;
  border: none;
  border-radius: 15px;
  font-size: 1em;
  margin-top:20px  ;
 }
  .btn_choix:hover {
  background-color: lighten($primary,55%);
  box-shadow: 0px 7px 7px 0px #ddd8d8;
  background-blend-mode : lighten ;
  cursor: pointer;
  }
  .btn_choix:hover span{
  color: $primary;
}


  .btn_numero{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;
    color: #fff;
    background-color: $primary;
    border: none;
    border-radius: 100%;
    width: 1.5em;
    height: 1.5em;
    margin-left: -15px;
  }

  .icon {
    font-size: 1em;
    color: #6b6b6b;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.btn_text{
   font-weight: 600;
   padding: 25px;
  }

  // ancien

  .all_Plat_Wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  } 
  .plat{
    width: 410px;
    height: 80px;

    display: flex;

    background-color: white;
    margin-bottom: 20px;
    @media (max-width: 768px){
      font-size: 12px;
    width: 310px;
    height: 50px;}
    border-radius: 10px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
     // padding: 7px 0 0 10px;
    p{
        font-family: $fontTexte;
        font-weight: 399;  
        margin: 0px;
    }
    .tarrif{

    margin-top: 20px;
    p{
        font-family: $fontTexte;
        font-weight: bold;  



    }
}
    h4{
        font-family: $fontTexte;
        font-weight: revert;  
        margin: 0px;
    }
    .englobePlat{
      white-space: nowrap;
        width: 85%;
        padding: 7px 0 0 10px;
    }
  }