.fa-heart{
    
    position: absolute;
    left: 77%;
    font-size: 25px;
    font-weight: lighter;
  
      &:hover::after{
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f004";
    position:absolute;
    left: 0px;
    top: 0px; 
    font-size: 25px;
    overflow: hidden;
    background-color: #9356DC;
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    background: linear-gradient(#9356DC, #FF79DA);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-animation: fill 1s ease forwards;
            animation: fill 1s ease forwards;     
    }
  }