$maxwidth : 160px ;
$backgroundColor :  rgb(241 234 234);
$borderRaduis : 40px 40px 40px 40px;
$lightBackgroundColor: rgba(193, 192, 192, 0.18);
$fontFamilly: "Shrikhand", sans-serif;
$primary:#633d92; 
$secondary:#FF79DA;
$tertiaire:#99E2D0;
$fontTexte: "Roboto", sans-serif;
