.homeSection {
    padding-bottom: 60px;
    h2{
        padding-bottom: 20px;
        margin-left: 20px;
    }
    .alignement{
        display: flex;
        align-items: center;
    flex-direction: row;
    }
}

.gridList {
    
    column-gap: 20px;
       display: flex;
       justify-content: space-evenly;
}

.orderCard {
    background: #f6f6f6;
    padding: 48px;
    box-shadow: rgb(50 50 93 / 0%) 0px 5px 20px 0px, rgb(0 0 0 / 30%) -1px 5px 30px -10px;
    border-radius: 32px;
    margin-left: 24px;
    position: relative;
    display: flex;
    align-items: center;
    
}
.regroupement_Cartes{
    display: flex;
    margin-right: 15px;
    P{
        font-size: larger;
    }
    @media (max-width: 991px){
    flex-wrap: wrap;
    justify-content: center;}
}

.orderCard .orderNumber {
    background: #9356dc;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    left: -12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.orderCard .orderIcon {
    color: #7e7e7e;
    
    margin-right: 20px;
    margin-left: 25px;
}
.material-icons { 
    font-family: $fontFamilly;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    
}